* {
    vertical-align: baseline;
    font-weight: inherit;
    font-family:'Impact', 'Haettenschweiler', 'Arial Narrow Bold', 'sans-serif';
    font-style: inherit;
    border: 0 none;
    outline: 0;
    padding: 0;
    margin: 0;
}


header{
    height: 80px;
    padding: 0 5vw;
    background-color: black;
    color: azure;
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-shadow: 0 0 20px 0 rgba(0,0,0,0.75);
}

h1{
    font-size: 48px;
}

h2{
    margin: 20px 0;
}
